<a href="/" class="d-flex justify-content-center">
    <img class="logo" src="./logo.png" alt="Somatic Learning Logo">
</a>
<nav class="navbar navbar-expand-lg navbar-dark navbar-height-fix" style="background: linear-gradient(to right, indigo, #89cff0);">
    <!-- <a class="navbar-brand" href="#">Menu</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link white" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white" href="#">Learn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white" href="#">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white" href="#">Training</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white" href="#">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar justify-content-center navbar-dark navbar-height-fix" style="padding-left: 0; background-color: gray;">
    <ul class="navbar-nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link white" href="#">Subscribe to the Somatic Meditations Newsletter</a>
        </li>
    </ul>
</nav>